---
// Layout
import MainLayout from "../layouts/MainLayout.astro";

// Components
import Link from "../components/Link.astro";
---

<MainLayout title="About me" description="A brief description about who I am">
  <section class="container about" aria-label="About me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="200"
      height="330"
    />
    <div class="content">
      <h1 class="h1">My Blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem facilis
        vitae repellat ducimus sed eum nisi recusandae neque! Similique error
        magni, tempore beatae alias dignissimos pariatur incidunt aliquid, iste
        labore enim dolores. Iusto quasi temporibus ipsum perspiciatis. Numquam,
        ipsum ex?
      </p>

      <Link
        href="mailto:chris@codinginpublic.dev"
        text="Contact me"
        style="primary"
      />
    </div>
  </section>
</MainLayout>
